*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#000;
  color:#fff;
}

/* NAVBAR */
header{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 60px;
  background:rgba(0,0,0,0.6);
  z-index:1000;
}

header a{
  color:#fff;
  text-decoration:none;
  margin-left:20px;
  transition:0.3s;
}

header a:hover{
  color:#00ffff;
}

.logo{
  color:#00ffff;
}

/* SECTIONS */
.section{
  height:100vh;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* VIDEO */
.bg-video{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
}

/* IMAGE BACKGROUND */
.image-bg{
  background-size:cover;
  background-position:center;
}

/* OVERLAY */
.overlay{
  position:relative;
  background:rgba(0,0,0,0.55);
  padding:40px;
  border-radius:15px;
}

.overlay h1{
  font-size:50px;
  margin-bottom:15px;
}

.overlay p, li{
  font-size:18px;
}

.overlay ul{
  list-style:none;
}

.overlay button{
  margin-top:20px;
  padding:14px 35px;
  border:none;
  background:#00ffff;
  color:#000;
  font-size:16px;
  border-radius:30px;
  cursor:pointer;
}
