body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#000;
  color:#fff;
}

/* NAVBAR */
.navbar{
  padding:15px 30px;
  background:#111;
  font-size:20px;
}

/* HERO */
.hero{
  height:300px;
  background:linear-gradient(to bottom, rgba(0,0,0,0.6), #000),
             url('../images/work1.jpg');
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:40px;
}

.hero h2{
  font-size:36px;
  margin:0;
}

.hero p{
  color:#ccc;
}

/* SECTIONS */
.section{
  padding:20px;
}

.section-title{
  margin-bottom:10px;
}

/* NETFLIX ROW */
.row{
  display:flex;
  gap:10px;
  overflow-x:auto;
}

.row img{
  width:220px;
  border-radius:8px;
  transition:transform 0.3s;
  cursor:pointer;
}

.row img:hover{
  transform:scale(1.2);
}

/* YOUTUBE TEXT */
.yt{
  color:#bbb;
}

/* FOOTER */
footer{
  background:#111;
  padding:20px;
  text-align:center;
  color:#aaa;
}
/* Popup Style */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}

.popup-content {
  background: #fff;
  width: 90%;
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
/* Popup Style */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}

.popup-content {
  background: #fff;
  width: 90%;
  max-width: 400px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
}
.apply-btn{
  display:inline-block;
  padding:14px 34px;
  background:#e50914;
  color:#fff;
  font-size:16px;
  font-weight:600;
  border-radius:30px;
  text-decoration:none;
  transition:0.3s;
}

.apply-btn:hover{
  background:#b20710;
  transform:scale(1.05);
}

