body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  color:#333;
}

.hero{
  background:#111;
  color:white;
  padding:40px;
  text-align:center;
}

section{
  padding:20px;
}

.gallery img{
  width:200px;
  margin:10px;
  border-radius:10px;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:15px;
}
